<nav class="navbar navbar-expand-md bg-body-tertiary" style="background-color: #D7EFD4;padding: 0;">
  <div class="container-fluid"  style="padding-top: 10px;padding-bottom: 10px;">
    <!-- Replace the text with an image -->
    <!-- <a class="navbar-brand mb-0 h1 logo" href="#">
      Logo
    </a> -->
    <h2 style="padding-left: 5px;"><span style="color:#0d7600">D</span>emo</h2>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 30px;">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of pages">
          <a
            class="nav-link"
            role="button"
            (click)="changePage(item)"
            ngClass="{{ currentPage === item ? 'active' : '' }}"
            >{{ item }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row justify-content-end">
<div class="select" style="margin-top: 12px; margin-right: 20px;">
  <select name="format" id="format" [(ngModel)]="tableName" (change)="onSelectChange(tableName)">
     <option selected disabled>Choose a Table </option>
     <option *ngFor="let option of formName" [value]="option.tableName">{{ option.formname }}</option>>
  </select>
</div>
</div>
<!--  -->
<div class="container" style="padding-top: 30px;" *ngIf="userData.length > 0">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
          <th *ngIf="userData.length > 0 ">Action</th> <!-- Added Action column -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userData">
          <ng-container *ngFor="let h of headers; let i = index">
            <td>
              <ng-container *ngIf="headers[i] !== 'status'; else statusTemplate">
                {{ item[headers[i]] }}
              </ng-container>
              <ng-template #statusTemplate>
                <span [ngClass]="{ 'disabled': item['status'] === 0, 'enabled': item['status'] === 1 }">
                  {{ item['status'] === 0 ? 'Disabled' : 'Enabled' }}
                </span>
              </ng-template>
            </td>
          </ng-container>
          <td class="icon-cell" *ngIf="userData.length > 0 ">
            <i class="fas fa-print fa-lg text-primary cursor-pointer" (click)="printQRCode(item)"></i>
            <i class="fas fa-download fa-lg text-success cursor-pointer" (click)="downloadQRCode(item)"></i>
            <i class="fas fa-qrcode fa-lg text-warning cursor-pointer" (click)="openQRModal(item)"></i>
          </td>
        </tr>
      </tbody>
      
      
    </table>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</div>

<!-- QR Code Modal -->
<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrModalLabel">QR Code</h5>
        <button type="button" class="btn-close" (click)="closeQRModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <img [src]="currentQRCode" class="img-fluid" alt="QR Code">
      </div>
    </div>
  </div>
</div>


<div class="row" style="text-align: center; padding-top: 5%;" *ngIf="userData.length === 0 && !isLoading">
  <div class="col-12">
    <h6>{{ errorMessage }}</h6>
  </div>
</div>
