
<nav class="navbar navbar-expand-md bg-body-tertiary" style="background-color: #D7EFD4;padding: 0;">
  <div class="container-fluid"  style="padding-top: 10px;padding-bottom: 10px;">
    <!-- <a class="navbar-brand mb-0 h1 logo" href="#">
      Logo
    </a> -->
    <h2><span style="color:#0d7600">D</span>emo</h2>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 30px;">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of pages">
          <a
            class="nav-link"
            role="button"
            (click)="changePage(item)"
            ngClass="{{ currentPage === item ? 'active' : '' }}"
            >{{ item }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid my-2">
  <form-builder
    [form]="form"
    [options]="options"
    (change)="onChange($event)"
  ></form-builder>
  <div class="my-2 d-flex justify-content-center" >
    <button type="button" class="btn btn-outline-primary" (click)="saveForm()" style="border-color: #D7EFD4;color: #0d7600;">
      Save Form
    </button>
  </div>
</div>
